@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(237 237 237 / var(--tw-bg-opacity, 1)) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #C47F17 !important;
}